<!-- Done List --> 
{% if done|length > 0 %}
<div class="container" style="font-size:150%">
	<h2>Completed</h2>
	{% for d in done %}
	<div class="row">
		<div class="col-xs-6 col-sm-3 col-md-2">{{ d.date }}</div>
		<div class="col-xs-6 col-sm-8 col-md-6">{{ d.name }}</div>
		<div class="col-xs-3 col-sm-1 col-md-1">
			<button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#{{ type }}_{{ d.doc_id }}">
				Edit
			</button>
		</div>
		<div class="collapse" id="{{ type }}_{{ d.doc_id }}">
			<form action="/update/{{ type }}{% if idx %}?idx={{ idx }}{% endif %}" method="POST">
				<div class="col-xs-6 offset-xs-2 col-md-2">
					<input class="form-control" type="hidden" id="name" name="name" value="{{ d.name }}">
					<input class="form-control" type="hidden" id="new"  name="new"  value="0">
					<input class="form-control" type="hidden" id="old"  name="old"  value="0">
					<input class="form-control" type="date"   id="date" name="date" required>
				</div>
				<div class="col-xs-3 col-md-1">
					<button type="submit" class="btn btn-primary btn-block">Update</button>
				</div>
			</form>
		</div>
	</div>
	<br />
	{% endfor %}
	<hr />
</div>
{% endif %}
