<!-- New Form -->
<div class="container">
	<div class="row">
		<form action="/{{ type }}" method="POST">
			<div class="form-row">
				<div class="form-group col-xs-3 col-sm-2 col-md-1">
					<label for="position" name="position">Position</label>
					<input class="form-control" type="number" id="position" name="position" min=0 step=1 placeholder="pos">
				</div>
				<div class="form-group col-xs-9 col-sm-6 col-md-7">
					<label for="name" name="name">Name</label>
					<input class="form-control" type="text" id="name" name="name" placeholder="Name" {% if 'autofocus' %}autofocus="autofocus" {% endif %}>
				</div>
				<div class="form-group col-xs-8 col-sm-2 col-md-2">
					<label for="date" name="date">Date</label>
					<input class="form-control" type="date" id="date" name="date">
				</div>
				<div class="form-group col-xs-4 col-sm-2 col-md-2">
					<label for="submit" name="submit">Submit</label>
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
				</div>
			</div>
		</form>
	</div>
	<br /><hr /><br />
</div>
