{
    "web": {
        "auth_uri": "http://localhost:8080/auth/realms/ppfchecklist/protocol/openid-connect/auth",
        "client_id": "ppfchecklist",
        "client_secret": "1a2b3c4d-0z9y-8x7w-6543-5e6f7g8h9i0j",
        "redirect_uris": [
            "http://localhost/*"
        ],
        "userinfo_uri": "http://localhost:8080/auth/realms/ppfchecklist/protocol/openid-connect/userinfo",
        "token_uri": "http://localhost:8080/auth/realms/ppfchecklist/protocol/openid-connect/token",
        "token_introspection_uri": "http://localhost:8080/auth/realms/ppfchecklist/protocol/openid-connect/token/introspect"
    }
}