<!-- Header -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 style="font-size: 400%" id="{{ header|lower }}">
        <a href="/list/{{ header|lower }}">{{ header }}</a>
      </h1>
    </div>
  </div>
</div>
