<!-- Todo List -->
{% if todo|length > 0 %}
  <div class="container-fluid" style="font-size: 200%">
    {% for t in todo %}
    <div class="row">
      <div class="col-1 col-lg-1">{{ t.position }}</div>
      <div class="col-9 col-lg-10">{{ t.name }}</div>
      <div class="col-2 col-lg-1">
        <button
          class="btn btn-primary btn-block"
          type="button"
          data-toggle="collapse"
          data-target=".{{ t.rowid }}"
        >
          Edit
        </button>
      </div>
    </div>
    {% with collapse_class=t.rowid, type=type, rowid=t.rowid, position=t.position, name=t.name, tbls=tbls %}
      {% include "sub/edit.html.j2" %}
    {% endwith %}
    <hr />
    {% endfor %}
  </div>
{% endif %}
