{% with header=thing|title %}
  {% include "sub/header.html.j2" %}
{% endwith %}

{% with type=thing, status=status, autofocus=autofocus %}
  {% include "sub/form.html.j2" %}
{% endwith %}

{% with todo=todo, type=thing, tbls=tbls %}
  {% include "sub/position_list.html.j2" %}
{% endwith %}

{% with done=done, type=thing, tbls=tbls %}
  {% include "sub/date_list.html.j2" %}
{% endwith %}
